


  .panel-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    flex-shrink: 0;
  }
  
  #nav-icon-button {
    background-color: #50EFB8;
    border: 1px solid #111;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  
  #nav-icon-button svg path {
    fill: #000;
  }
  
  #nav-icon-button:hover {
    background-color: #3CBA8E;
    opacity: 1;
  }
  
  #nav-icon-button:active {
    background-color: #50EFB8;
    opacity: 1;
  }
  
  #nav-icon-button:focus {
    background-color: #50EFB8;
    opacity: 1;
  }
  
  .side-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
    overflow: hidden;
  }
  

  .tree-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #222;
    color: #fff;
    flex: 1;
    min-height: 0;
    width: 100%;
    font-size: 15px;
    overflow-y: auto;
  }
  

  .tree-view-inner-item-expand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  
  .tree-view-inner-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;
    cursor: pointer;
    padding: 2px 0px;
  }
  
  .tree-view-inner-item-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin: 0;
  }
  
  
  
  .tome-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    font-size: 15px;
    color: #fff;
  }


  .tome-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px 0px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
  }

  .tome-item:hover {
    background-color: #333;
  }

  .tome-item-container {
    width: 100%;
  }

  .tome-entries {
    display: flex;
    flex-direction: column;
  }

  .tree-entry-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 0px;
    padding-left: 40px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    color: #ccc;
  }

  .tree-entry-item:hover {
    background-color: #333;
    color: #fff;
  }

  .tree-entry-item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }