@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

:root {
  font-family: JetBrainsMono Nerd Font, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--green-11);
  background-color: #0D0F1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100vw; 
  color: var(--green-11);
  border-bottom: 2px solid #222;
  padding: 0;
  margin: 0;
  z-index: 1000;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menubar-content {
  background-color: var(--green-11);
  color: var(--gray-12);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 14px;
  border: none;
  margin-left: 5px;
}

.menubar-separator {
  background-color: var(--gray-11);
  height: 2px;
  width: 100%;
}

.menubar-trigger {
  background-color: var(--green-11);
  color: var(--gray-12);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.tree-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #222;
  color: var(--gray-12);
  height: 100%;
  width: 100%;
  font-size: 15px;
}

.tree-view-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
;
  color: var(--green-11);
  font-size: 15px;
  height: 100%;
  width: 100%;
}

.tree-view-inner-item-expand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

.tree-view-inner-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  user-select: none;
  cursor: pointer;
  padding: 2px 0px;
}

.tree-view-inner-item-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--green-11);
  margin: 0;
}

.menubar-trigger:hover {
  background-color: var(--green-10);
}

.panel-nav svg path {
  fill: var(--green-11);
}

.tome-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  color: var(--green-11);
}

.tome-list-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10px;
  height: 100%;
  font-size: 15px;
  width: 100%;
}


.tome-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px 0px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tome-item-expand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 20px;
  height: 100%;
  font-size: 15px;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.panel {
  padding: 0;
  margin: 0;
  background-color: #222;
}



.entry-view-panel {
  background-color: #222;
}

.entry-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.entry-list-viewport {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.entry-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  border: 1px solid #333;
  border-radius: 5px;
}

.entry-item-title {
  font-size: 13px;
  font-weight: 600;
  color: var(--green-11);
}

.panel-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#nav-icon-button {
  background-color: #111;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

#nav-icon-button:hover {
  background-color: #333;
  opacity: 1;
}

#nav-icon-button:active {
  background-color: #333;
  opacity: 1;
}

#nav-icon-button:focus {
  background-color: #333;
  opacity: 1;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

}

.panel-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  width: 100%;
  padding: 5px;
  background-color: #222;
} 

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: #222;
}

.panel-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.panel-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

.editor-container {
  background-color: var(--green-11);
  width: 100vw;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

.divider {
  cursor: col-resize;
  background-color: var(--green-11);
  user-select: none;
}

/* optional: highlight on hover */
.divider:hover {
  background-color: var(--green-10);
}

/* --- Dialog styles --- */

.dialog-overlay {
	background-color: var(--black-a9);
	position: fixed;
	inset: 0;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-content {
  background-color: #222;
	border-radius: 6px;
	box-shadow: var(--black-a6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);  
}

.dialog-content:focus {
  outline: none;
}

.dialog-title {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.dialog-description {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.dialog-fieldset {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.dialog-label {
	font-size: 15px;
	color: var(--green-11);
	width: 90px;
	text-align: right;
}

.dialog-input {
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	color: var(--green-11);
	box-shadow: 0 0 0 1px var(--green-7);
	height: 35px;
}

.dialog-input:focus {
	box-shadow: 0 0 0 2px var(--violet-8);
}

.create-archive-btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
	height: 35px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
	user-select: none;
}

.create-archive-btn:focus:not(:focus-visible) {
  outline: 0;
}

.create-archive-btn:focus-visible {
  outline: 2px solid var(--violet-6);
  outline-offset: 1px;
}

.create-archive-btn:hover {
  background: var(--mauve-3);
}

.close-btn {
  all: unset;
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: var(--gray-3);
}
 
.close-btn:hover {
  background-color: var(--violet-4);
}

.close-btn:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;

	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

/* --- StartWindow dialog styles --- */

#start-overlay {
  background-color: var(--black-a9);
	position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

#start-content {
	background-color: #222;
	border-radius: 6px; 
	box-shadow: var(--black-a6);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	max-height: 85vh;
	padding: 25px;
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);  
}

#start-title {
  margin: 0;
  font-weight: 500;
  color: var(--green-11);
  font-size: 17px;
}

#start-description {
  margin: 10px 0 20px;
  color: var(--green-11);
  font-size: 15px;
  line-height: 1.5;
}

#start-content-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#archive-select {
  background-color: #222;
  position: relative;
  width: 100%;
  height: 100%;
}

#archive-list-container {
  background-color: #111;
  position: relative;
  width: 100%;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  border-radius: 5px;
  background-color: #111;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  color: var(--green-11);
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
}

.list-item:hover {
  background-color: #222;
  opacity: 1;
}

.list-item:active {
  background-color: #333;
}

.button {
  background-color: #111;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  color: var(--green-11);
  font-size: 15px;
  line-height: 1.5;
}

.button:hover {
  background-color: #222;
  opacity: 1;
}

.button:active {
  background-color: #333;
}


